<%= turbo_frame_tag "calculator_content" do %>
  <div class="grid grid-cols-1 lg:grid-cols-12 gap-8 mt-16 justify-center">
    <div class="lg:col-span-4">
      <div class="sticky top-8">
        <div class="mb-4">
          <label class="block text-md font-medium leading-6 text-gray-900">Steg <%= @current_step %> av 8</label>
        </div>
        <h2 class="text-2xl font-bold text-gray-900 mb-4"><%= @questions['headline'] %></h2>
        <p class="text-md text-gray-600"><%= @questions['description'] %></p>
      </div>
    </div>

    <div class="lg:col-span-8">
      <%= form_with url: office_calculator_next_step_path, method: :post, data: { 
        turbo_frame: "calculator_content", 
        controller: "office-calculator form-validation" 
      } do |form| %>
        <div class="border-gray-900/10">
          <% if @questions.present? %>
            <% @questions.each do |field, data| %>
              <div class="mb-6 sm:col-span-4">
                <label class="block text-lg font-medium text-gray-700 mb-4"><%= data['question'] %></label>

                <% if data['options'].is_a?(Hash) %>
                  <% data['options'].each do |option_key, option_data| %>
                    <div class="mb-4">
                      <label class="block text-sm font-medium text-gray-700 mb-1"><%= option_data['name'] %></label>
                      <% case option_data['input_type'] %>
                      <% when 'number' %>
                        <%= form.number_field "calculator_#{@current_step}_#{field}_#{option_key}", 
                                              value: cached_data["calculator_#{@current_step}_#{field}_#{option_key}"],
                                              placeholder: "Antal", 
                                              class: "lock w-full rounded-md border-0 text-gray-900 ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" %>
                      <% when 'text' %>
                        <%= form.text_field "calculator_#{@current_step}_#{field}_#{option_key}", 
                                            value: cached_data["calculator_#{@current_step}_#{field}_#{option_key}"],
                                            class: "lock w-full rounded-md border-0 text-gray-900 ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" %>
                      <% end %>
                    </div>
                  <% end %>
                <% else %>
                  <% case data['input_type'] %>
                  <% when 'number' %>
                    <%= form.number_field "calculator_#{@current_step}_#{field}", 
                                          value: cached_data["calculator_#{@current_step}_#{field}"],
                                          placeholder: data['placeholder'], 
                                          class: "lock w-full rounded-md border-0 text-gray-900 ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" %>
                  <% when 'text' %>
                    <%= form.text_field "calculator_#{@current_step}_#{field}", 
                                        value: cached_data["calculator_#{@current_step}_#{field}"],
                                        placeholder: data['placeholder'], 
                                        class: "lock w-full rounded-md border-0 text-gray-900 ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" %>
                  <% end %>
                <% end %>
              </div>
            <% end %>
          <% else %>
            <p>No questions available for this step.</p>
          <% end %>
        </div>

        <%= form.hidden_field :current_step, value: @current_step %>
        <div class="mt-6 flex items-center justify-between">
          <% if @current_step > 1 %>
            <%= link_to "Gå tillbaka", office_calculator_previous_step_path(step: @current_step - 1), class: "back-button", data: { turbo_frame: "calculator_content" } %>
          <% end %>
          <%= form.submit "Nästa steg", class: "primary-button w-auto" %>
        </div>
      <% end %>
    </div>
  </div>
<% end %>