
    <div class="bg-white">
      <div class="relative isolate w-full">
        <div class="w-full">
          <div class="mx-auto max-w-7xl px-6 lg:px-8">
            <%= turbo_frame_tag "calculator_content" do %>
              <div class="<%= @current_step == 'start' || @current_step.nil? ? 'py-24 lg:py-40' : 'py-24' %>">
                <% if @current_step == 'start' || @current_step.nil? %>
                  <div class="lg:flex lg:items-center">
                    <div class="mx-auto max-w-2xl lg:mx-0 lg:flex-auto">
                      <div class="flex">
                        <div class="relative flex items-center gap-x-4 rounded-full px-4 py-1 text-sm leading-6 text-gray-600 ring-1 ring-gray-900/10 hover:ring-gray-900/20">
                          <span class="font-semibold text-primary">Kontorskalkylatorn</span>
                        </div>
                      </div>
                      <h1 class="mt-10 max-w-lg text-4xl font-bold tracking-tight text-gray-900 sm:text-6xl">Vi vet hur stort kontor du behöver</h1>
                      <p class="mt-6 text-lg leading-8 text-gray-600">Skapa ett diskussionsunderlag för ditt kontorsbehov på några minuter. Vår kalkylator för kontorsutrymmen är utformad för att hjälpa dig att avgöra hur mycket utrymme ditt företag behöver.</p>
                      <p class="mt-6 text-lg leading-8 text-gray-600">Allt får du i en enkel rapport direkt till din inbox. <strong>Och du, det är helt gratis.</strong></p>
                      <div class="mt-10 flex items-center gap-x-6 w-full">
                        <div class="flex flex-col sm:flex-row sm:items-center w-full mx-auto">
                          <%= button_to "Skapa min rapport", 
                                        start_office_calculator_path, 
                                        method: :post, 
                                        class: "primary-button w-full sm:w-auto mb-2 sm:mb-0 sm:mr-4", 
                                        data: { turbo_frame: "calculator_content" } %>
                        </div>
                      </div>
                    </div>
                    <div class="mt-16 sm:mt-24 lg:mt-0 lg:flex-shrink-0 lg:flex-grow">
                      <svg viewBox="0 0 366 729" role="img" class="mx-auto w-[22.875rem] max-w-full drop-shadow-xl">
                        <title>Nytt kontor</title>
                        <defs>
                          <clipPath id="2ade4387-9c63-4fc4-b754-10e687a0d332">
                            <rect width="316" height="684" rx="36" />
                          </clipPath>
                        </defs>
                        <path fill="#4B5563" d="M363.315 64.213C363.315 22.99 341.312 1 300.092 1H66.751C25.53 1 3.528 22.99 3.528 64.213v44.68l-.857.143A2 2 0 0 0 1 111.009v24.611a2 2 0 0 0 1.671 1.973l.95.158a2.26 2.26 0 0 1-.093.236v26.173c.212.1.398.296.541.643l-1.398.233A2 2 0 0 0 1 167.009v47.611a2 2 0 0 0 1.671 1.973l1.368.228c-.139.319-.314.533-.511.653v16.637c.221.104.414.313.56.689l-1.417.236A2 2 0 0 0 1 237.009v47.611a2 2 0 0 0 1.671 1.973l1.347.225c-.135.294-.302.493-.49.607v377.681c0 41.213 22 63.208 63.223 63.208h95.074c.947-.504 2.717-.843 4.745-.843l.141.001h.194l.086-.001 33.704.005c1.849.043 3.442.37 4.323.838h95.074c41.222 0 63.223-21.999 63.223-63.212v-394.63c-.259-.275-.48-.796-.63-1.47l-.011-.133 1.655-.276A2 2 0 0 0 366 266.62v-77.611a2 2 0 0 0-1.671-1.973l-1.712-.285c.148-.839.396-1.491.698-1.811V64.213Z" />
                        <path fill="#343E4E" d="M16 59c0-23.748 19.252-43 43-43h246c23.748 0 43 19.252 43 43v615c0 23.196-18.804 42-42 42H58c-23.196 0-42-18.804-42-42V59Z" />
                        <foreignObject width="316" height="684" transform="translate(24 24)" clip-path="url(#2ade4387-9c63-4fc4-b754-10e687a0d332)">
                          <img src="https://tailwindui.com/plus/img/component-images/mobile-app-screenshot.png" alt="" />
                        </foreignObject>
                      </svg>
                    </div>
                  </div>
                <% else %>
                  <!-- Progress Bar -->
                  <%= render partial: "progress_bar", locals: { current_step: @current_step } %>
                  <%= render partial: "step_#{@current_step}", locals: { questions: @questions, current_step: @current_step } %>
                <% end %>
              </div>

              <!-- 3 steps section -->
              <div class="bg-white pt-24">
                <div class="mx-auto max-w-7xl px-6 lg:px-8">
                  <div class="mx-auto max-w-2xl text-center">
                    <h2 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">3 steg till bättre beslut</h2>
                    <p class="mt-6 text-lg leading-8 text-gray-600">Var förberedd när du söker kontor och möter din framtida hyresvärd.</p>
                  </div>
                  <div class="mx-auto mt-16 max-w-2xl sm:mt-20 lg:mt-24 lg:max-w-none">
                    <dl class="grid max-w-xl grid-cols-1 gap-x-8 gap-y-16 lg:max-w-none lg:grid-cols-3">
                      <div class="flex flex-col">
                        <dt class="text-base font-semibold leading-7 text-gray-900">
                          <div class="mb-6 flex h-10 w-10 items-center justify-center  bg-primary rounded-full p-1">
                            <svg class="h-5 w-5 text-custom-black" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true" data-slot="icon">
                              <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 13.5h3.86a2.25 2.25 0 0 1 2.012 1.244l.256.512a2.25 2.25 0 0 0 2.013 1.244h3.218a2.25 2.25 0 0 0 2.013-1.244l.256-.512a2.25 2.25 0 0 1 2.013-1.244h3.859m-19.5.338V18a2.25 2.25 0 0 0 2.25 2.25h15A2.25 2.25 0 0 0 21.75 18v-4.162c0-.224-.034-.447-.1-.661L19.24 5.338a2.25 2.25 0 0 0-2.15-1.588H6.911a2.25 2.25 0 0 0-2.15 1.588L2.35 13.177a2.25 2.25 0 0 0-.1.661Z" />
                            </svg>
                          </div>
                          Storlek
                        </dt>
                        <dd class="mt-1 flex flex-auto flex-col text-base leading-7 text-gray-600">
                          <p class="flex-auto">Med rätt data så kan vi hjälpa dig till ett spann som motsvarar ditt kontorsbehov.</p>
                        </dd>
                      </div>
                      <div class="flex flex-col">
                        <dt class="text-base font-semibold leading-7 text-gray-900">
                          <div class="mb-6 flex h-10 w-10 items-center justify-center  bg-primary rounded-full p-1">
                            <svg class="h-5 w-5 text-custom-black" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true" data-slot="icon">
                              <path stroke-linecap="round" stroke-linejoin="round" d="M15 19.128a9.38 9.38 0 0 0 2.625.372 9.337 9.337 0 0 0 4.121-.952 4.125 4.125 0 0 0-7.533-2.493M15 19.128v-.003c0-1.113-.285-2.16-.786-3.07M15 19.128v.106A12.318 12.318 0 0 1 8.624 21c-2.331 0-4.512-.645-6.374-1.766l-.001-.109a6.375 6.375 0 0 1 11.964-3.07M12 6.375a3.375 3.375 0 1 1-6.75 0 3.375 3.375 0 0 1 6.75 0Zm8.25 2.25a2.625 2.625 0 1 1-5.25 0 2.625 2.625 0 0 1 5.25 0Z" />
                            </svg>
                          </div>
                          Budget
                        </dt>
                        <dd class="mt-1 flex flex-auto flex-col text-base leading-7 text-gray-600">
                          <p class="flex-auto">Storlek, pris och faciliteter avgör priset. Vi ger dig ett riktpris.</p>
                        </dd>
                      </div>
                      <div class="flex flex-col">
                        <dt class="text-base font-semibold leading-7 text-gray-900">
                          <div class="mb-6 flex h-10 w-10 items-center justify-center  bg-primary rounded-full p-1">
                            <svg class="h-5 w-5 text-custom-black" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true" data-slot="icon">
                              <path stroke-linecap="round" stroke-linejoin="round" d="m14.74 9-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 0 1-2.244 2.077H8.084a2.25 2.25 0 0 1-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 0 0-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 0 1 3.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 0 0-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 0 0-7.5 0" />
                            </svg>
                          </div>
                          Jämförelse
                        </dt>
                        <dd class="mt-1 flex flex-auto flex-col text-base leading-7 text-gray-600">
                          <p class="flex-auto">Vad kostar ett eget kontor jämfört med coworking? Vi gör jämförelsen.</p>
                        </dd>
                      </div>
                    </dl>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>

    <%= render "shared/footer" %>