<div class="bg-white">
  <div class="mx-auto max-w-7xl px-6 py-12">
    <!-- Header -->
    <div class="mb-12">
      <h1 class="text-3xl font-bold text-gray-900 sm:text-4xl mb-4">Kontorskalkyl</h1>
      <p class="text-lg text-gray-600">
        Här är din kontorskalkyl baserat på dina uppgifter. Uppgifterna är ett estimat och vi har därför angivit ett spann för storlek och kostnad baserat på behov.
      </p>
    </div>

    <!-- Two-column section -->
    <div class="grid grid-cols-1 md:grid-cols-2 gap-8 mb-12">
      <!-- Map column -->
      <div class="bg-gray-100 rounded-lg p-4">
        <!-- Replace the existing map placeholder with this -->
        <%= render partial: 'shared/google_map', locals: { map: @map_hash } %>
      </div>

      <!-- Details column -->
      <div class="space-y-8">
        <div class="h-full flex flex-col">
          <h2 class="text-2xl font-semibold text-gray-900 mb-4">Företagsdetaljer</h2>
          <dl class="grid grid-cols-1 sm:grid-cols-2 gap-4 flex-grow">
            <div class="flex flex-col justify-center bg-gray-50 p-4 rounded-lg h-32">
              <dt class="text-sm font-medium text-gray-500">Antal anställda</dt>
              <dd class="mt-1 text-xl font-semibold text-gray-900"><%= @step_1_data['current_employees'] %></dd>
            </div>
            <div class="flex flex-col justify-center bg-gray-50 p-4 rounded-lg h-32">
              <dt class="text-sm font-medium text-gray-500">Framtida anställda</dt>
              <dd class="mt-1 text-xl font-semibold text-gray-900"><%= @step_1_data['future_employees'] %></dd>
            </div>
            <div class="flex flex-col justify-center bg-gray-50 p-4 rounded-lg h-32">
              <dt class="text-sm font-medium text-gray-500">Önskat område</dt>
              <dd class="mt-1 text-xl font-semibold text-gray-900"><%= @location.name %></dd>
            </div>
            <div class="flex flex-col justify-center bg-gray-50 p-4 rounded-lg h-32">
              <dt class="text-sm font-medium text-gray-500">Storlekspreferens (per person)</dt>
              <dd class="mt-1 text-xl font-semibold text-gray-900"><%= @steps_data.dig('1', 'office_space_preference') %></dd>
            </div>
            <div class="flex flex-col justify-center bg-gray-50 p-4 rounded-lg h-32">
              <dt class="text-sm font-medium text-gray-500">Hybridarbete</dt>
              <dd class="mt-1 text-xl font-semibold text-gray-900"><%= @step_1_data['hybrid_work'] == 'Ja' ? 'Ja' : 'Nej' %></dd>
            </div>
            <div class="flex flex-col justify-center bg-gray-50 p-4 rounded-lg h-32">
              <dt class="text-sm font-medium text-gray-500">Renoveringsbudget</dt>
              <dd class="mt-1 text-xl font-semibold text-gray-900"><%= @step_1_data['renovation_budget'] %> kr</dd>
            </div>
          </dl>
        </div>
      </div>
    </div>

    <!-- Summary row -->
    <h2 class="text-2xl font-semibold text-gray-900 mb-6">Storlek och kostnad</h2>
    <dl class="mx-auto grid grid-cols-1 gap-4 sm:grid-cols-2 lg:grid-cols-2 mb-12">
      <div class="flex flex-col justify-between gap-y-2 bg-gray-50 rounded-lg px-4 py-10">
        <dt class="text-sm font-medium leading-6 text-gray-500">Estimerad total yta, kvadratmeter</dt>
        <dd class="text-3xl font-medium leading-10 tracking-tight text-gray-900">
          <%= "#{@total_area[:min]}-#{@total_area[:max]}" %> m²
        </dd>
      </div>
      <div class="flex flex-col justify-between gap-y-2 bg-gray-50 rounded-lg px-4 py-10">
        <dt class="text-xs font-medium text-gray-700">Totalhyra, kr/mån</dt>
        <dd class="text-3xl font-medium leading-10 tracking-tight text-gray-900">
          <%
            min_total = @bashyra_range[:min] +
                        @electricity_range[:min] +
                        @heat_cooling_range[:min] +
                        @recurring_addons[:total][:min] +
                        @one_off_costs[:monthly]

            max_total = @bashyra_range[:max] +
                        @electricity_range[:max] +
                        @heat_cooling_range[:max] +
                        @recurring_addons[:total][:max] +
                        @one_off_costs[:monthly]
          %>
          <%= "#{min_total}-#{max_total}" %> kr/mån
        </dd>
      </div>
    </dl>

    <!-- Cost breakdown section -->
    <div class="mt-12">
      <h2 class="text-2xl font-semibold text-gray-900 mb-6">Kostnadsfördelning</h2>
      <dl class="mx-auto grid grid-cols-1 gap-4 sm:grid-cols-2 lg:grid-cols-4">
        <div class="flex flex-col justify-between gap-y-2 bg-gray-50 rounded-lg px-4 py-10">
          <dt class="text-sm font-medium leading-6 text-gray-500">Bashyra</dt>
          <dd class="text-2xl font-medium leading-10 tracking-tight text-gray-900">
            <%= "#{@bashyra_range[:min]}-#{@bashyra_range[:max]}" %> kr/mån
          </dd>
        </div>
        
        <div class="flex flex-col justify-between gap-y-2 bg-gray-50 rounded-lg px-4 py-10">
          <dt class="text-sm font-medium leading-6 text-gray-500">El och Värme/Kyla</dt>
          <dd class="text-2xl font-medium leading-10 tracking-tight text-gray-900">
            <%= "#{@electricity_range[:min] + @heat_cooling_range[:min]}-#{@electricity_range[:max] + @heat_cooling_range[:max]}" %> kr/mån
          </dd>
        </div>
        
        <div class="flex flex-col justify-between gap-y-2 bg-gray-50 rounded-lg px-4 py-10">
          <dt class="text-sm font-medium leading-6 text-gray-500">Återkommande tillägg</dt>
          <dd class="text-2xl font-medium leading-10 tracking-tight text-gray-900">
            <% if @recurring_addons[:total][:min] == @recurring_addons[:total][:max] %>
              <%= @recurring_addons[:total][:min] %> kr/mån
            <% else %>
              <%= "#{@recurring_addons[:total][:min]}-#{@recurring_addons[:total][:max]}" %> kr/mån
            <% end %>
          </dd>
        </div>
        
        <div class="flex flex-col justify-between gap-y-2 bg-gray-50 rounded-lg px-4 py-10">
          <dt class="text-sm font-medium leading-6 text-gray-500">Engångskostnader</dt>
          <dd class="text-2xl font-medium leading-10 tracking-tight text-gray-900">
            <%= @one_off_costs[:monthly] %> kr/mån
          </dd>
        </div>
      </dl>
    </div>

    <!-- Detailed cost breakdown -->
    <div class="mt-16">
      <div class="sm:flex sm:items-center">
        <div class="sm:flex-auto">
          <h2 class="text-2xl font-semibold text-gray-900">Detaljerad kostnadsöversikt</h2>
          <p class="mt-2 text-sm text-gray-700">En detaljerad uppdelning av alla kostnader relaterade till ditt kontor.</p>
        </div>
      </div>
      <div class="-mx-4 mt-8 flow-root sm:mx-0">
        <table class="min-w-full">
          <colgroup>
            <col class="w-full sm:w-1/2">
            <col class="sm:w-1/4">
            <col class="sm:w-1/4">
          </colgroup>
          <thead class="border-b border-gray-300 text-gray-900">
            <tr>
              <th scope="col" class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-0">Kostnadskategori</th>
              <th scope="col" class="hidden px-3 py-3.5 text-right text-sm font-semibold text-gray-900 sm:table-cell">Min (per månad)</th>
              <th scope="col" class="py-3.5 pl-3 pr-4 text-right text-sm font-semibold text-gray-900 sm:pr-0">Max (per månad)</th>
            </tr>
          </thead>
          <tbody>
            <!-- Base costs -->
            <tr class="border-t border-gray-200 bg-gray-50">
              <th colspan="3" scope="colgroup" class="py-2 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-0">Baskostnader</th>
            </tr>
            <tr class="border-b border-gray-200">
              <td class="max-w-0 py-5 pl-4 pr-3 text-sm sm:pl-0">
                <div class="font-medium text-gray-900">Bashyra</div>
              </td>
              <td class="hidden px-3 py-5 text-right text-sm text-gray-500 sm:table-cell"><%= @bashyra_range[:min] %> kr/mån</td>
              <td class="py-5 pl-3 pr-4 text-right text-sm text-gray-500 sm:pr-0"><%= @bashyra_range[:max] %> kr/mån</td>
            </tr>

            <!-- Utilities -->
            <tr class="border-t border-gray-200 bg-gray-50">
              <th colspan="3" scope="colgroup" class="py-2 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-0">Driftskostnader</th>
            </tr>
            <tr class="border-b border-gray-200">
              <td class="max-w-0 py-5 pl-4 pr-3 text-sm sm:pl-0">
                <div class="font-medium text-gray-900">El</div>
              </td>
              <td class="hidden px-3 py-5 text-right text-sm text-gray-500 sm:table-cell"><%= @electricity_range[:min] %> kr/mån</td>
              <td class="py-5 pl-3 pr-4 text-right text-sm text-gray-500 sm:pr-0"><%= @electricity_range[:max] %> kr/mån</td>
            </tr>
            <tr class="border-b border-gray-200">
              <td class="max-w-0 py-5 pl-4 pr-3 text-sm sm:pl-0">
                <div class="font-medium text-gray-900">Värme/kyla</div>
              </td>
              <td class="hidden px-3 py-5 text-right text-sm text-gray-500 sm:table-cell"><%= @heat_cooling_range[:min] %> kr/mån</td>
              <td class="py-5 pl-3 pr-4 text-right text-sm text-gray-500 sm:pr-0"><%= @heat_cooling_range[:max] %> kr/mån</td>
            </tr>

            <!-- Recurring addons -->
            <tr class="border-t border-gray-200 bg-gray-50">
              <th colspan="3" scope="colgroup" class="py-2 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-0">Återkommande tillägg</th>
            </tr>
            <% @recurring_addons[:addons].each do |addon, cost| %>
              <% if cost[:min] > 0 || cost[:max] > 0 %>
                <tr class="border-b border-gray-200">
                  <td class="max-w-0 py-5 pl-4 pr-3 text-sm sm:pl-0">
                    <div class="font-medium text-gray-900"><%= t("office_calculator.addons.#{addon}") %></div>
                  </td>
                  <td class="hidden px-3 py-5 text-right text-sm text-gray-500 sm:table-cell"><%= (cost[:min] / 12.0).round %> kr/mån</td>
                  <td class="py-5 pl-3 pr-4 text-right text-sm text-gray-500 sm:pr-0"><%= (cost[:max] / 12.0).round %> kr/mån</td>
                </tr>
              <% end %>
            <% end %>

            <!-- One-off costs -->
            <tr class="border-t border-gray-200 bg-gray-50">
              <th colspan="3" scope="colgroup" class="py-2 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-0">Engångskostnader</th>   
            </tr>
            <% @one_off_costs[:costs].each do |item, data| %>
              <% if data[:cost] > 0 %>
                <tr class="border-b border-gray-200">
                  <td class="max-w-0 py-5 pl-4 pr-3 text-sm sm:pl-0">
                    <div class="font-medium text-gray-900">
                      <% item_name = @calculator_config.dig('calculator_steps', 'step_7', 'additional_services', 'options', item.to_s, 'name') %>
                      <%= "#{item_name.presence || item.to_s.titleize} (#{data[:count]})" %>
                    </div>
                    <div class="mt-1 truncate text-gray-500">Engångskostnad fördelad över 36 månader</div>
                  </td>
                  <td class="hidden px-3 py-5 text-right text-sm text-gray-500 sm:table-cell"><%= (data[:cost] / 36.0).round %> kr/mån</td>
                  <td class="py-5 pl-3 pr-4 text-right text-sm text-gray-500 sm:pr-0"><%= (data[:cost] / 36.0).round %> kr/mån</td>
                </tr>
              <% end %>
            <% end %>
          </tbody>
          <tfoot>
            <tr class="border-t border-gray-200">
              <th scope="row" colspan="2" class="hidden pl-4 pr-3 pt-6 text-right text-sm font-semibold text-gray-900 sm:table-cell sm:pl-0">Totalt per månad</th>
              <th scope="row" class="pl-4 pr-3 pt-6 text-left text-sm font-semibold text-gray-900 sm:hidden">Totalt per månad</th>
              <td class="pl-3 pr-4 pt-6 text-right text-sm font-semibold text-gray-900 sm:pr-0">
                <%
                  min_total = @bashyra_range[:min] +
                              @electricity_range[:min] +
                              @heat_cooling_range[:min] +
                              @recurring_addons[:total][:min] +
                              @one_off_costs[:monthly]

                  max_total = @bashyra_range[:max] +
                              @electricity_range[:max] +
                              @heat_cooling_range[:max] +
                              @recurring_addons[:total][:max] +
                              @one_off_costs[:monthly]
                %>
                <%= "#{min_total}-#{max_total}" %> kr/mån
              </td>
            </tr>
          </tfoot>
        </table>
      </div>
    </div>
    <div class="mt-12">
      <%= link_to "Ladda ner rapporten", office_calculator_result_pdf_path(uuid: @office_calculation.uuid), class: "primary-button", target: "_blank" %>
    </div>
  </div>
</div>
