<!-- TODO:

- Add a link to the bottom of the page that says "Har du ingen e-post? Kontakta oss."
- Flip form when successfully sent Magic Link to user 

-->

<div class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8">
  <div class="sm:mx-auto sm:w-full sm:max-w-sm">
    <%= image_tag 'dweller_logo.svg', alt: 'Dweller', class: 'mx-auto h-5 w-auto' %>
    <h2 class="mt-10 text-center text-2xl font-bold leading-9 tracking-tight text-gray-900">Logga in på ditt annonsörskonto</h2>
  </div>

  <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
    <%= form_with url: provider_create_magic_link_path, local: true, class: "space-y-6" do |form| %>
      <div>
        <%= form.label :email, 'Din e-post', class: "block text-sm font-medium leading-6 text-gray-900" %>
        <div class="mt-2">
          <%= form.email_field :email, name: 'provider_user[email]', autocomplete: "email", required: true, class: "block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" %>
        </div>
      </div>

      <div>
        <%= form.submit 'Skicka en magisk länk nu', class: "primary-button mx-auto block w-auto" %>
      </div>
    <% end %>
  </div>
</div>

<%= render 'shared/footer' %>
