<div class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8">
  <div class="sm:mx-auto sm:w-full sm:max-w-sm">
    <%= image_tag 'dweller_logo.svg', alt: 'Dweller', class: 'mx-auto h-5 w-auto' %>
    <h2 class="mt-10 text-center text-2xl font-bold leading-9 tracking-tight text-gray-900">Logga in på ditt annonsörskonto</h2>
  </div>

  <div class="mt-4 sm:mx-auto sm:w-full sm:max-w-sm">
    <% if flash[:notice] %>
      <p class="text-center text-lg text-custom-black"><%= flash[:notice] %></p>
    <% elsif flash[:alert] %>
      <div class="rounded-md bg-red-50 p-4">
        <div class="flex">
          <div class="flex-shrink-0">
            <svg class="h-5 w-5 text-red-400" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
              <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zM8.28 7.22a.75.75 0 00-1.06 1.06L8.94 10l-1.72 1.72a.75.75 0 101.06 1.06L10 11.06l1.72 1.72a.75.75 0 101.06-1.06L11.06 10l1.72-1.72a.75.75 0 00-1.06-1.06L10 8.94 8.28 7.22z" clip-rule="evenodd" />
            </svg>
          </div>
          <div class="ml-3">
            <h3 class="text-sm font-medium text-red-800">Ett fel uppstod</h3>
            <div class="mt-2 text-sm text-red-700">
              <p><%= flash[:alert] %></p>
            </div>
          </div>
        </div>
      </div>
    <% end %>
    <%= form_with url: provider_portal_create_magic_link_path, local: true, class: "space-y-6" do |form| %>
      <div>
        <%= form.label :email, 'Din e-post', class: "block text-sm font-medium leading-6 text-gray-900" %>
        <div class="mt-2">
          <%= form.email_field :email, name: 'provider_user[email]', autocomplete: "email", required: true, class: "block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" %>
        </div>
      </div>

      <div>
        <div class="flex justify-center">
          <%= form.submit "Skicka magisk länk", class: "primary-button w-auto" %>
        </div>
      </div>
    <% end %>
  </div>
</div>

<%= render 'shared/footer' %>
